h2 {
    color: indigo;
    background-color: plum;
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background: rgb(228,161,37);
}

body {
    background-color: #c5e;
}
